<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All Tests Suite" verbose="5">

    <listeners>
        <!--listener class-name = "com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter" />-->
        <listener class-name = "jsmart.logging.WebDriverEventHandler" />
        <listener class-name = "jsmart.logging.TestNGListener" />
    </listeners>

    <test name="All Tests">
        <packages>
            <package name="jsmart.*"/>
        </packages>
    </test>
</suite>